apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: locusttests.locust.cloud
spec:
  group: locust.cloud
  scope: Namespaced
  names:
    plural: locusttests
    singular: locusttest
    kind: LocustTest
    shortNames:
      - locust
      - lt
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required: ["workers"]
              properties:
                labels:
                  description: Labels to all generated resources
                  type: object
                  additionalProperties:
                    type: string
                annotations:
                  description: Annotations to all generated resources
                  type: object
                  additionalProperties:
                    type: string
                image:
                  description: Container image with locust installed
                  type: string
                  default: locustio/locust:latest
                imagePullPolicy:
                  description: Image pull policy
                  type: string
                  enum:
                    - Always
                    - IfNotPresent
                    - Never
                imagePullSecrets:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                    required: ["name"]
                workers:
                  description: Number of worker replicas
                  type: integer
                  minimum: 1
                  default: 1
                args:
                  description: Args for locust
                  type: string
                env:
                  description: Extra environment variables
                  type: array
                  items:
                    type: object
                    properties:
                      name: { type: string }
                      value: { type: string }
                master:
                  description: Master configuration
                  type: object
                  properties:
                    labels:
                      description: Master pod labels
                      type: object
                      additionalProperties:
                        type: string
                    annotations:
                      description: Master pod annotations
                      type: object
                      additionalProperties:
                        type: string
                    resources:
                      description: Master resources
                      type: object
                      properties:
                        requests:
                          type: object
                          additionalProperties:
                            type: string
                        limits:
                          type: object
                          additionalProperties:
                            type: string
                worker:
                  description: Worker configuration
                  type: object
                  properties:
                    labels:
                      description: Worker pods labels
                      type: object
                      additionalProperties:
                        type: string
                    annotations:
                      description: Worker pods annotations
                      type: object
                      additionalProperties:
                        type: string
                    resources:
                      description: Worker resources
                      type: object
                      properties:
                        requests:
                          type: object
                          additionalProperties:
                            type: string
                        limits:
                          type: object
                          additionalProperties:
                            type: string
                locustfile:
                  type: object
                  description: Locustfile
                  properties:
                    inline:
                      type: object
                      properties:
                        filename:
                          type: string
                          default: "locustfile.py"
                        content:
                          type: string
                      required: ["content"]
                    configMap:
                      type: object
                      properties:
                        name:
                          type: string
                      required: ["name"]
                  oneOf:
                    - required: ["inline"]
                    - required: ["configMap"]
            status:
              type: object
              properties:
                state: { type: string }
                fail_ratio: { type: string }
                total_rps: { type: string }
                user_count: { type: string }
                worker_count: { type: string }
      additionalPrinterColumns:
        - name: state
          description: Locust current state
          type: string
          jsonPath: .status.state
        - name: fail_ratio
          description: Locust fail ratio
          type: string
          jsonPath: .status.fail_ratio
        - name: RPS
          description: Locust total RPS
          type: string
          jsonPath: .status.total_rps
        - name: users
          description: Locust user count
          type: string
          jsonPath: .status.user_count
        - name: workers
          description: Locust worker count
          type: string
          jsonPath: .status.worker_count
        - name: age
          type: date
          jsonPath: .metadata.creationTimestamp
