name: Release Helm charts

on:
  push:
    branches: [master]
    paths:
      - "helm/**" # only when charts change
  workflow_dispatch: {}

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout (full history)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.17.3

      - name: Lint charts
        run: |
          for d in helm/*/Chart.yaml; do
            echo "Linting $(dirname "$d")"
            helm lint "$(dirname "$d")"
          done

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        env:
          CR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          charts_dir: helm
